.side-wrap{
    width: 200px;
}

.logo {
    position: relative;
    width: 200px;
    height: 64px;
    background-color: rgb(228, 114, 133);
    
    h1 {
        text-align: center;
        // display:flex;
        // align-items: center;
        // justify-content: center;
    }
}
